<configuration xmlns:env="http://www.sitecore.net/xmlconfig/env/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <sites>
      <!-- set:targetHostName="localhost": in docker there's no hosts file and there's only 1 site in IIS -->
      <!-- set:hostName="*": inside a docker container the Sitecore instance uses port 80, but on the host machine the port is different: 44000 or anything else -->
      <site name="habitat"
            
            set:targetHostName="localhost"
            set:hostName="*"
            />
    </sites>    
    <linkManager>
      <providers>
        <!-- in docker inner port can be different from outer port which can break media links -->
        <add set:alwaysIncludeServerUrl="false" />
      </providers>
    </linkManager>
  </sitecore>
</configuration>
